# Arquivos do sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.node_modules/

# Arquivos temporários
*.tmp
*.temp
